<h1>Welcome to Angular 13 </h1>
<nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
      <li><a routerLink="/component" routerLinkActive="active">Component</a></li>
      <li><a routerLink="/template" routerLinkActive="active">Template</a></li>
      <li><a routerLink="/reactive" routerLinkActive="active">Reactive</a></li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>

<!-- <app-home></app-home>
<app-component></app-component> -->